@tailwind base;
@tailwind components;
@import "./syntax-highlighting.css";
@tailwind utilities;

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  cursor: pointer;
}

body {
  /* font-size: calc(1rem + 0.8vw) !important; */
}

.anchor:hover {
  @apply visible;
}

.prose {
  @apply !text-silver font-light text-lg md:text-xl;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-silver-400 font-bold;
}

.prose h1 {
  @apply !text-7xl font-bold mt-8 mb-4 text-silver-400;
}

.prose h2 {
  @apply text-2xl md:text-3xl font-bold mt-8 mb-4 text-silver-400;
}

.prose h3 {
  @apply text-2xl font-bold mt-8 mb-4 text-silver-400;
}

.prose strong {
  /* Don't apply styles to next/image */
  @apply font-semibold text-silver-300;
}

.prose a {
  @apply text-silver-400 hover:text-silver-800 transition-all;
}

.prose .anchor:after {
  @apply text-silver-900 text-2xl;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

code {
  @apply px-1 py-0.5 rounded-md bg-shark-700 shadow-border-shiny !font-normal !text-silver-100;
}

code::before,
code::after {
  content: "" !important;
}

.prose aside p {
  @apply m-0 !important;
}

.prose aside a {
  @apply text-inherit !important;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose aside ul {
  @apply m-0;
}

.prose aside li {
  @apply mt-0;
}

.live-area {
  min-block-size: 200px;
  /* max-block-size: var(--max-height); */
  /* padding: 1rem 2.5rem; */
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  block-size: 100%;
  position: relative;
  /* z-index: 1; */
  border: 1px dashed #1f1f22;
}

.live-area::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle at center, #202328 60%, #101114);
  mask-image: radial-gradient(black 0.9px, transparent 0.9px);
  mask-size: 18px 18px;
}
